ul {list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	font-size: 5vw;
color: red;
transition: 
color .5s ease;
}
a:hover {color: blue; }

			.double1,  
			.single1, 
			.serve1, 
			.double2, 
			.single2, 
			.serve2, 			
			.double3, 
			.serve3, 		 
			.serve4, 
			{border: 5px solid gray;}

 				.double1 	{background-color: #458b00;
								width: 45px;
								height: 380px;
								position: absolute;
								top: 0px;
								left:0px; 
								border: 5px solid gray;}

				.single1 	{background-color: #66cd00;
								width: 270px;
								height: 175px; 
								position: absolute;
								top: 0px;
								left:50px; 
								border: 5px solid gray;}

				.serve1 	{background-color: #76ee00;
								width: 135px;
								height: 200px;
								position: absolute;
								top: 180px;
								left:50px; 
								border: 5px solid gray;}							
				.serve2 	{background-color: #76ee00;
								width: 135px;
								height: 200px;
								position: absolute;
								top: 180px;
								left:185px; 
								border: 5px solid gray;}							
 				.double2 	{background-color: #458b00;
								width: 45px;
								height: 380px;
								position: absolute;
								top: 0px;
								left: 320px; 
								border: 5px solid gray;}
	 			.double3 	{background-color: #458b00;
								width: 45px;
								height: 380px;
								position: absolute;
								top: 385px;
								left:0px; 
								border: 5px solid gray;}
				.serve3 	{background-color: #76ee00;
								width: 135px;
								height: 200px;
								position: absolute;
								top: 385px;
								left:50px; 
								border: 5px solid gray;}							
				.serve4 	{background-color: #76ee00;
								width: 130px;
								height: 200px;
								position: absolute;
								top: 385px;
								left:185px; 
								border: 5px solid gray;}							
				.double4 	{background-color: #458b00;
								width: 45px;
								height: 380px;
								position: absolute;
								top: 385px;
								left: 320px; 
								border: 5px solid gray;}
				.single2 	{background-color: #66cd00;
								width: 270px;
								height: 175px; 
								position: absolute;
								top: 590px;
								left:50px; 
								border: 5px solid gray;}